<div class="encabezado-evento">
    <div class="contenedor">
        <div class="resumen-evento">
            <h1>Nombre Evento</h1>
            <div class="info-autor">
                <div class="imagen">
                    <img src="/" alt="">
                </div>
                <div class="informacion">
                    <p>Organizado por:</p>
                    <p class="autor">
                        <a href="">Adrián</a> Creador de:
                        <a href="">Node México</a>
                    </p>
                </div>
            </div><!-- info-autor -->
        </div><!-- resumen-evento -->
        <div class="pregunta-asistencia">
            <p>¿Asistirás?</p>
            <a href="" class="btn btn-azul">Si</a>
        </div>
    </div>
</div>

<main class="contenido-evento">
    <div class="contenedor">
        <div class="informacion-evento">
            <div class="descripcion">
                <!-- Imagen del Meeti -->
                <p>Lorem</p>
            </div><!-- descripcion -->
            <div class="asistentes">
                <div class="titulo">
                    <h3>Asistentes</h3>
                    <a href="">Ver Todos</a>
                </div>
            </div> <!-- asistentes -->
            <div class="comentarios">
                <h2>Comentarios</h2>
                <div class="comentario">
                    <div class="imagen"></div>
                    <div class="texto">
                        <p>Hola</p>
                        <p>Escrito por: <span>Adrián González</span></p>
                        <input type="button" value="Eliminar" class="btn btn-azul">
                    </div>
                </div>
                <div class="comentario">
                    <div class="imagen"></div>
                    <div class="texto">
                        <p>Hola</p>
                        <p>Escrito por: <span>Adrián González</span></p>
                    </div>
                </div>
                <!-- Formulario comentarios-->
                <form action="" class="default-form comentarios">
                    <legend>Agrega un Comentario</legend>
                    <div class="campo">
                        <label for="">Comentarios</label>
                        <textarea name="comentario"></textarea>
                    </div>
                    <div class="campo enviar">
                        <input type="submit" value="Enviar" class="btn btn-rosa">
                    </div>
                </form>
                <!-- Formulario comentarios-->
            </div> <!-- comentarios -->
        </div><!-- informacion-evento -->
        <aside class="informacion">
            <div class="fecha">
                <p>30 de Agosto de 2019, 20:30 horas</p>
            </div>
            <div class="ubicacion">
                <p>Avenida Siempre Viva</p>
            </div>
        </aside>
    </div>
</main>