<mail class="contenedor">
    <form action="/crear-cuenta" method="POST" class="default-form">
        <div class="campo">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" placeholder="Tu nombre">
        </div>
        <div class="campo">
            <label for="email">E-Mail</label>
            <input type="text" name="email" placeholder="Tu E-Mail">
        </div>
        <div class="campo">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Tu password">
        </div>
        <div class="campo">
            <label for="password">Confirma tu Password</label>
            <input type="password" name="confirmar" placeholder="Repetir password">
        </div>
        <div class="campo acciones">
            <a href="/iniciar-sesion">Iniciar sesión</a>
        </div>

        <div class="campo">
            <input type="submit" value="Crear cuenta" class="btn btn-azul">
        </div>
    </form>
</mail>